<div class = "row">
	<div class = "col s12 l12 m12 x12">
		<h1><%= subject %></h1>
	</div>
</div>

<%- cmpTabs(2) %>

<div class = "row">
	<div class = "col s12 l12 m12 x12">
		<table class = "table striped">
			<% for(var i = 0; i < tickets.length; i++) { var ticket = tickets[i]; %>
			<tr>
				<td>
					<!--details-->
					<small>Creada por
						<a href = "#!" onclick = "apretaste.send({command: 'PERFIL', data: {username: '<%= ticket.username %>'}});">@<%= ticket.username %></a></small>
					<br/>

					<!--content-->
					<%= ticket.text.substring(0, 100) %>...

					<!--buttons-->
					<a class = "btn" href = "#!" onclick = "apretaste.send({command: 'SUGERENCIAS VER', data: {id: '<%= ticket.id %>'}});">&#x1f50d;
																																		   Leer</a>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
</div>

<div class = "fixed-action-btn hide-on-share">
	<a class = "btn-floating btn-large waves-effect waves-light" href = "#!" onclick = "apretaste.send({'command':'SUGERENCIAS CREAR'})">
		<i class = "material-icons">comment</i>
	</a>
</div>




