<div class="row">
	<div class="col s12">
		<% tickets.forEach(function(item) { %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<div class="person-avatar circle left" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="30" online="<%= item.online %>"></div>
					<a href="#!" class="<%= item.gender %>" onclick="apretaste.send({'command':'PERFIL', 'data':{'username':'@<%= item.username %>'}})">@<%= item.username %></a>
				</div>
				<div class="card-content">
					<p class="card-text flow-text"><%= item.text %></p>

					<div class="progress" style="margin-bottom:0px;">
						<div class="determinate" style="width: <%= item.percent %>%"></div>
					</div>

					<p class="green-text" style="margin-top:0px;">
						<%= moment(item.limit_date).format('DD/MM/YYYY') %>
						&nbsp;&middot;&nbsp;
						<%= item.votes_count %> votos
						&nbsp;&middot;&nbsp;
						<%= item.percent %>%
					</p>
				</div>
				<div class="card-action grey lighten-4">
					<a href="#!" class="green-text" onclick="apretaste.send({command:'SUGERENCIAS VER', data: {id: '<%= item.id %>'}});">Ver más</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn hide-on-share">
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({command:'SUGERENCIAS BUSCAR'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>