<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#" class="active">Abiertas</a></li>
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>
        </ul>
    </div>
</div>
<div class="row">
	<div class="col s12 l12 m12 x12">
		<% if (voteButtonEnabled) { %>
			<p>Usted tiene <%= votosDisp %> votos disponibles</p>
		<% } else { %>
			<p class="red"><small>No tiene votos disponibles. Debe esperar que las sugerencias que vot&oacute; sean aprobadas o descartadas.</small></p>
		<% } %>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
        <% for(var i=0; i < tickets.length; i++) { var ticket = tickets[i]; %>
            <div class="card" >
                <div class="card-content">
                    <div class="row">
                        <div class="col l1 s2 xk1 m1">
                            <div class="person-avatar circle" face="<%= ticket.avatar %>" color="<%= ticket.avatarColor %>" size="42"
                                 onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'@<%= ticket.username %>'}});">
                            </div>
                        </div>
                        <div class="col l11 s10 xk11 m11">
                            <!--details-->
                            <p><small>Creada por <a href="#!" onclick="apretaste.send({command: 'PERFIL', data: {username: '<%= ticket.username %>'}});" >@<%= ticket.username %></a></small></p>
                            <p><small>Expira el <%= formatDate(ticket.limit_date) %>.</small></p>
                            <p><small>Faltan <%= ticket.limit_votes - ticket.votes_count %> votos</small></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l12 s12 xk12 m12">
                            <%= ticket.text.substring(0,100) %>...
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#!" onclick="apretaste.send({command: 'SUGERENCIAS VER', data: {id: '<%= ticket.id %>'}});">Leer</a>
                    <% if (voteButtonEnabled == true) { %>
                        <a href="#!" onclick="apretaste.send({command: 'SUGERENCIAS VOTAR', data: {id: '<%= ticket.id %>'}});">Votar</a>
                    <% } %>
                </div>
            </div>
        <% } %>
	</div>
</div>
<div id="writeModal" class="container" status="closed" style="display: none;">
    <div class="row">
        <i class="material-icons small" onclick="toggleWriteModal()">close</i>
        <div class="col s12">
            <textarea id="note" class="materialize-textarea" maxlength="300" placeholder="Sugerencia"></textarea>
        </div>
        <div class="actions">
            <i class="material-icons small pizarra-color-text right" onclick="sendNote()">send</i>
        </div>
    </div>
</div>

<div class="fixed-action-btn hide-on-share">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="toggleWriteModal();">
        <i class="material-icons">comment</i>
    </a>
</div>