<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Abiertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS BUSCAR'})">Buscar</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>
		</ul>
	</div>
</div>

<!-- LIST OF SUGESTIONS -->
<% if(tickets.length > 0) { %>
	<div class="row">
		<div class="col s12">
			<!-- VOTE MESSAGE -->
			<% if(!canVote) { %>
				<p class="message red-text center-align">Ma침ana tendr치 otro voto disponible</p>
			<% } %>

			<% tickets.forEach(function(item) { %>
				<div class="card">
					<div class="card-person grey lighten-5">
						<div class="person-avatar circle left" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="30" online="<%= item.online %>"></div>
						<a href="#!" class="<%= item.gender %>" onclick="apretaste.send({'command':'PERFIL', 'data':{'username':'@<%= item.username %>'}})">@<%= item.username %></a>
					</div>
					<div class="card-content">
						<p class="flow-text"><%= item.text %></p>

						<div class="progress" style="margin-bottom:0px;">
							<div class="determinate" style="width: <%= item.percent %>%"></div>
						</div>

						<p class="green-text" style="margin-top:0px;">
							<%= moment(item.limit_date).format('DD/MM/YYYY') %>
							&nbsp;&middot;&nbsp;
							<%= item.votes_count %> votos
							&nbsp;&middot;&nbsp;
							<%= item.percent %>%
						</p>
					</div>
					<div class="card-action grey lighten-4">
						<% if (canVote) { %>
							<a href="#!" class="green-text" onclick="apretaste.send({command:'SUGERENCIAS VOTAR', data:{id:'<%= item.id %>'}});"><i class="tiny material-icons">thumb_up</i> Votar</a>
						<% } %>
						<a href="#!" class="green-text" onclick="apretaste.send({command:'SUGERENCIAS VER', data: {id: '<%= item.id %>'}});">Ver m치s</a>
					</div>
				</div>
			<% }) %>
		</div>
	</div>

	<!-- PAGINATION -->
	<% if(pages > 1) { %>
		<div class="row">
			<div class="col s12 center-align">
				<ul class="pagination">
					<li class="waves-effect">
						<a href="#!" onclick="apretaste.send({command:'SUGERENCIAS', data:{page:'<%= page*1 - 1 %>'}})">
							<i class="material-icons">chevron_left</i>
						</a>
					</li>
					<li class="waves-effect"><%= page*1 + 1 %> / <%= pages %></li>
					<li class="waves-effect">
						<a href="#!" onclick="apretaste.send({command:'SUGERENCIAS', data:{page:'<%= page*1 + 1 %>'}})">
							<i class="material-icons">chevron_right</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	<% } %>
<% } else { %>
	<div class="row">
		<div class="col s12 center">
			<p class="middle-center grey-text">No encontramos ninguna sugerencia abierta. Puede a침adir una sugerencia, o buscar alguna para votar.</p>
		</div>
	</div>
<% } %>


<div class="bottom-space"></div>

<!-- MODAL BUTTON -->
<div class="fixed-action-btn">
	<a href="#newTicketModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
		<i class="large material-icons">add</i>
	</a>
</div>

<!-- MODAL -->
<div id="newTicketModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba su sugerencia</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="sendMessage()" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
	</div>
</div>
