<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1><%= subject %></h1>
	</div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#" class="active">Abiertas</a></li>
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>
        </ul>
    </div>
</div>
<div class="row">
	<div class="col s12 l12 m12 x12">
		<p>Escriba una sugerencia para nuestra app o vote por alguna sugerencia abierta. Si su sugerencia es aprobada, ganar&aacute; cr&eacute;ditos.</p>
		<% if (voteButtonEnabled) { %>
			<p>Usted tiene <%= votosDisp %> votos disponibles</p>
		<% } else { %>
			<p class="red"><small>No tiene votos disponibles. Debe esperar que las sugerencias que vot&oacute; sean aprobadas o descartadas.</small></p>
		<% } %>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">
        <% for(var i=0; i < tickets.length; i++) { var ticket = tickets[i]; %>
            <div class="card" >
                <div class="card-content">
                    <div class="person-avatar circle" face="<%= ticket.avatar %>" color="<%= ticket.avatarColor %>" size="42"
                         onclick="apretaste.send({'command': 'PIZARRA PERFIL', 'data': {'username':'@<%= ticket.username %>'}});">
                    </div>

                    <!--details-->
                    <p><small>Creada por <a href="#!" onclick="apretaste.send({command: 'PERFIL', data: {username: '<%= ticket.username %>'}});" >@<%= ticket.username %>" %></a>.</p>
                    <p>Expira el <%= formatDate(ticket.limit_date) %>. </p>
                    <p><small>Faltan <%= ticket.limit_votes - ticket.votes_count %> votos</small></p>
                    <br/>
                    <%= ticket.text.substring(0,100) %>...
                </div>
                <div class="card-action">
                    <a href="#!" onclick="apretaste.send({command: 'SUGERENCIAS VER', data: {id: '<%= ticket.id %>'}});"><i class="material-icons">zoom_in</i> Leer</a>
                    <% if (voteButtonEnabled == true) { %>
                        <a href="#!" onclick="apretaste.send({command: 'SUGERENCIAS VOTAR', data: {id: '<%= ticket.id %>'}});"><i class="material-icons">thumb_up</i> Votar</a>
                    <% } %>
                </div>
            </div>
        <% } %>
	</div>
</div>
<div class="fixed-action-btn hide-on-share">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'SUGERENCIAS CREAR'})">
        <i class="material-icons">comment</i>
    </a>
</div>