<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Abiertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS BUSCAR'})">Buscar</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<!-- VOTE MESSAGE -->
		<% if(!canVote) { %>
			<p class="message red-text center-align">Mañana tendrá otro voto disponible</p>
		<% } %>

		<!-- LIST OF SUGESTIONS -->
		<% tickets.forEach(function(ticket) { %>
		<div class="card">
			<div class="card-content">
				<div class="row" style="margin-bottom:0px;">
					<div class="col s2 m1">
						<div class="person-avatar circle suggestion-avatar" face="<%= ticket.avatar %>" color="<%= ticket.avatarColor %>" size="42" onclick="apretaste.send({'command':'PERFIL', 'data':{'username':'@<%= ticket.username %>'}})"></div>
					</div>
					<div class="col s10 m11">
						<p class="grey-text">
							<a href="#!" onclick="apretaste.send({command: 'PERFIL', data: {username: '<%= ticket.username %>'}});">@<%= ticket.username %></a>
							&middot;
							Expira el <%= moment(ticket.limit_date).format('DD/MM/YYYY') %>
						</p>

						<p class="card-text"><%= ticket.text %></p>

						<div class="progress" style="margin-bottom:0px;">
							<div class="determinate" style="width: <%= ticket.percent %>%"></div>
						</div>

						<p class="green-text"><%= ticket.votes_count %> votos, <%= ticket.percent %>%</p>
					</div>
				</div>
			</div>
			<div class="card-action grey lighten-2">
				<% if (canVote) { %>
					<a href="#!" class="green-text" onclick="apretaste.send({command:'SUGERENCIAS VOTAR', data:{id:'<%= ticket.id %>'}});"><i class="tiny material-icons">thumb_up</i> Votar</a>
				<% } %>
				<a href="#!" class="green-text" onclick="apretaste.send({command:'SUGERENCIAS VER', data: {id: '<%= ticket.id %>'}});">Ver más</a>
			</div>
		</div>
		<% }) %>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<li class="waves-effect">
					<a href="#!" onclick="apretaste.send({command:'SUGERENCIAS', data:{page:'<%= page*1 - 1 %>'}})">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>
				<li class="waves-effect"><%= page*1 + 1 %> / <%= pages %></li>
				<li class="waves-effect">
					<a href="#!" onclick="apretaste.send({command:'SUGERENCIAS', data:{page:'<%= page*1 + 1 %>'}})">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- FLOATING BUTTON -->
<div class="fixed-action-btn">
	<a href="#newTicketModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
		<i class="large material-icons">message</i>
	</a>
</div>

<!-- MODAL NEW TICKET -->
<div id="newTicketModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba su sugerencia</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="sendMessage()" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
	</div>
</div>