<div class="row">
	<div class="col s12 l12 m12 x12">
	Sugerida por @<%= suggestion.username %><br/>
	<% if (suggestion.status == "NEW") { %>
		<p>Expira el <%= formatDateTime(suggestion.limit_date) %></p>
		<p>Faltan <%= suggestion.limit_votes - $suggestion.votes_count %> votos para aprobarla</p>
	<% } %>
	<p>Estado: <%= suggestion.estado %></p>
	<p style="background-color:#F2F2F2; padding:10px;"><big><%= suggestion.text %></big></p>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green">
		<i class="large material-icons">more_horiz</i>
	</a>
	<ul>
		<% if (voteButtonEnabled) { %>
        <li>
            <a href="#!" class="btn-floating" onclick="apretaste.send({command: 'SUGERENCIAS VOTAR', data: {id: '<%= suggestion.id %>'}});"><i class="material-icons left">plus_one</i>Votar</a>
        </li>
		<% } %>
        <li>
            <a href="#!" class="btn-floating" onclick="apretaste.send({command: 'SUGERENCIAS'});" ><i class="material-icons left">keyboard_backspace</i>Atr&aacute;s</a>
        </li>
	</ul>
</div>