<div class="row">
	<div class="col s12">
		<ul class="collection profile">
			<li class="collection-item avatar">
				<div class="person-avatar circle left" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="45" online="<%= item.online %>"></div>
				<span class="title <%= item.gender %>">@<%= item.username %></span>
				<br>
				<span class="chip medium clear spacing"><i class="fas fa-bolt"></i> <%= item.experience %></span>
				<span class="chip medium clear"><i class="fas fa-trophy"></i> <%= item.week_rank %></span>

				<a href="#!" class="secondary-content green-text first" onclick="apretaste.send({'command':'PERFIL', 'data':{'username':'@<%= item.username %>'}})"><i class="material-icons">person</i></a>
			</li>
		</ul>

		<span class="chip" style="margin: 5px 0px 10px 0px;">
			<i class="material-icons icon">check</i> <%= item.status %>
		</span>

		<div class="progress" style="margin-bottom:0px;">
			<div class="determinate" style="width: <%= item.percent %>%"></div>
		</div>

		<span class="chip tiny clear spacing"><i class="far fa-calendar"></i> <%= moment(item.limit_date).format('DD/MM/YYYY') %></span>
		<span class="chip tiny clear spacing"><%= item.votes_count %> votos</span>
		<span class="chip tiny clear"><%= item.percent %>%</span>

		<p class="card-text flow-text"><%= item.text %></p>

		<% if (item.status == 'Abierta') { %>
			<% if (canVote) { %>
				<a class="waves-effect waves-light btn-small" href="#!" onclick="apretaste.send({command: 'SUGERENCIAS VOTAR', data: {id:'<%= item.id %>'}})">
					<i class="fas fa-thumbs-up"></i> Votar
				</a>
			<% } else { %>
				<p class="red-text">Mañana tendrá otro voto disponible</p>
			<% } %>
		<% } %>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn hide-on-share">
	<a class="btn-floating waves-effect waves-light grey second modal-trigger" href="#shareModal">
		<i class="material-icons">share</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
</div>

<!-- SHARE MODAL -->
<% init(item) %>
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar" style="min-height: 60px;">
				<i class="fas fa-<%= share.icon %> material-icons circle"></i>
				<span class="title"><%= share.text %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>